/*Reset CSS*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
}
body{
	position: relative;
	font-family: Arial;
	cursor: pointer;
	background: #fcfcfc;
}
section a{
	color: blue;
	text-decoration: none;
}
section li{
	list-style: none;
	margin-top: 10px;
}
section li:hover{
	border: 1px solid green;
}
ul.folder li{
	margin: 10px 0px 0px 73px;
}
/*Contains style*/
#contains{
	width: 98%;
	height: auto;
	margin: auto;
	padding: 10px;
}

/*Style nhãn folder*/
div.folder-title{
	position: relative;
	height: 45px;
	background: #f4f4f4;
}
.folder-title img.folder-icon{
	position: absolute;
	top: 3px;
	width: 45px;
	left: 22px;
}
.folder-title span.folder-name{
	position: absolute;
	left: 72px;
	top: 5px;
}
.folder-title img.iconvieworhidden{
	/*Nút view/hidden folder*/
	position: absolute;
	top: 11px;
	left: 0px;
	width: 18px;
	opacity: 0.3;
}
.folder-title img.iconvieworhidden:hover{
	opacity: 1;
}

/*Time- hiển thị thời gian*/
.folder-title span.time{
	position: absolute;
	height: 30px;
	left: 72px;
	top: 13px;
}
.folder-title span.time canvas.time-view{
	position: relative;
	top: 12px;
}
.folder-title span.time-number{
	position: relative;
	top: 6px;
	font-size: 11px;
	font-weight: bold;
	padding: 1px;
	border: 2px solid #1c75bb;
}
/*Định dạng folder-title-tag*/
div.folder-title-tag{
	border: 2px solid #ffbfdd;
	width: 500px;
	height: auto;
	padding: 10px;
	margin-left: 73px;
}

div.folder-title-tag hr{
	margin: 10px 0px;
}
div.folder-title-tag .label{
	display: inline-block;
	border: 2px solid #ffaaaa;
	padding: 3px;
}
div.folder-title-tag .label:hover{
	border: 2px solid red;
}
div.lienquan  .lienquan_tag{
	display: inline-block;
	margin: 5px 5px 0px 5px;
}
div.lienquan  .lienquan_tag span{
	font-style: italic;
	color:  #0000ff;
}
div.lienquan img, div.ghichu img{
	/*Nút xóa item ghi chú, liên quan tag*/
	width: 13px;
	opacity: 0.2;
	vertical-align: middle;
}
div.lienquan img:hover, div.ghichu img:hover{
	opacity: 1;
}
div.ghichu-item{
	margin: 10px 0px 0px 10px;
}
div.ghichu-item p.ghichu-content{
	max-width: 430px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ff1c89;
	border-radius: 10px;
	padding: 5px;
	background: #ffdbec;
}
/*Định dạng file*/
li.file a{
	vertical-align: middle;
}
li.file:hover a{
	color: red;
	font-weight: bold;
}
li.file img{
	vertical-align: middle;
	width: 30px;
}

/*Style nút Add folder*/
#add-folder{
	margin-top: 40px;
	padding: 5px;
	text-align: center;
	background: #e0e0e0;
}
#add-folder span{
	font-weight: bold;
	vertical-align: middle;
	font-size: 25px;
}
#add-folder img{
	vertical-align: middle;
	width: 40px;
}
#add-folder:hover{
	background: #a5a5a5;
}

/*Style mouse-right*/
#mouse-right{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	overflow: hidden;
	width: 200px;
	box-shadow: 2px 2px 10px black;
}
#mouse-right div{
	overflow: hidden;
	width: 200px;
	height: 34px;
	padding: 8px 10px;
	color: white;
	margin-bottom: 1px;
	background: rgba(0,0,0,0.9);
}
#mouse-right div:hover{
	background: rgba(0,0,0,0.7);
}
#mouse-right div.mouse-right-label{
	background: #d1d1d1;
	font-weight: bold;
	color: black;
	border: 1px solid #939393;
}
#mouse-right .style-disabled{
	background: #dbdbdb;
	color: #8c8c8c;
}
#mouse-right .style-disabled:hover{
	background: #dbdbdb;
}

#mouse-right .style-disabled-2{
	background: red;
	color: #8c8c8c;
}
#mouse-right .style-disabled-2:hover{
	background: green;
}

/*Style chung cho khung box và nhãn
*/
.box-style{
	z-index: 10; /*Luôn luôn hiển thị bên trên
	các lớp khác*/
	position: fixed;
	/*Mặc định chỉnh hộp thoại vào giữa trình duyệt 
	theo mọi kích thước*/
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	overflow: hidden;
	border: 1px solid black;
	/*width, height,text-align mặc định căn giữa 
	tất cả thành phần trong hộp thoại*/
	width: 350px;
	height: 160px;
	text-align: center;
	background: white;
}
.box-style .label{
	display: inline-block;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 18px;
	color: white;
	padding-top: 3px;
	background: black;
}

/*Style khung input text nhập dữ liệu*/
.input-text{
	/*width, height, border mặc định*/
	width: 270px;
	height: 28px;
	display: inline-block;
	border: 2px solid black;
}

/*Style nút bấm:
1, button-style-1
2, button-style-2
*/
.button-style-1, .button-style-2{
	width: 75px;
	height: 30px;
	border-radius: 3px;
	border: none;
}
.button-style-2{
	background: #4989F2;
	color: white;
}
.button-style-2:hover{
	background: #377def;
}
.button-style-1:hover{
	border: 1px solid #8e8e8e;
}

/*Box tạo mới và đổi tên FOLDER*/
#b-new-folder, #b-rename-folder{
	display: none;
}
#b-new-folder .input-text, #b-rename-folder .input-text{
	width: 250px;
	margin-top: 30px;
}
#b-new-folder .time, #b-rename-folder .time{
	width: 50px;
}
#b-new-folder .button-style-1, #b-new-folder .button-style-2,
#b-rename-folder .button-style-1, #b-rename-folder .button-style-2{
	position: relative;
	top: 30px;
	left: 74px;
}

/*Box tạo mới và đổi tên FILE*/
#b-new-file, #b-rename-file{
	display: none;
	width: 400px;
	height: 210px; 
}
#b-new-file .input-text, #b-rename-file .input-text{
	margin-top: 25px;
}

#b-new-file hr, #b-rename-file hr{
	position: relative;
	top: 12px;
	width: 90%;
	left: 5%;
	border: 1px solid #ededed;
}
#b-new-file .button-style-1, #b-new-file .button-style-2,
#b-rename-file .button-style-1, #b-rename-file .button-style-2{
	position: relative;
	top: 25px;
	left: 57px;
}

/*Box quản lý thời gian*/
#b-time{
	display: none;
}
#b-time .input-text{
	margin: 30px 0px 0px 10px; 
	font-size: 18px;
	width: 70px;
}
#b-time .button-style-1, #b-time .button-style-2{
	position: relative;
	top: 25px;
	left: 45px;
}

/*Nền đen sau hộp thoại - black-background*/
#black-background{
	display: none;
	z-index: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
}